<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<select id="overlapCheck" resultType="int">
		SELECT COUNT(*) 
		FROM BM_USER 
		WHERE ${valueType } = #{value }
	</select>
	
<!-- 	<insert id="join"> -->
<!-- 		INSERT INTO BM_USER ( -->
<!-- 			ID, -->
<!-- 			USERNAME, -->
<!-- 			PASSWORD, -->
<!-- 			EMAIL, -->
<!-- 			NICKNAME, -->
<!-- 			PHONE -->
<!-- 		) VALUES ( -->
<!-- 			USER_ID_SEQ.NEXTVAL, -->
<!-- 			#{username }, -->
<!-- 			#{password }, -->
<!-- 			#{email }, -->
<!-- 			#{nickname }, -->
<!-- 			#{phone } -->
<!-- 		) -->
<!-- 	</insert> -->
</mapper>